{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "strict": 0,
    "camelcase": 0,
  }
}
